# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Variables de entorno (CRÍTICO)
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db