{% load static %}
<section class="cta-section">
  <div class="cta-content reveal">

    <p class="section-eyebrow" style="justify-content:center">Tu Momento es Ahora</p>
    <h2 class="section-title" style="margin-bottom:16px">
      ¿Listo para tu <span class="accent">transformación</span>?
    </h2>
    <p>
      El guerrero que serás en 6 meses depende de la decisión que tomes hoy.
      Únete a los coaches y atletas que ya usan el sistema más inteligente del fitness.
    </p>

   
 
     <div class="cta-btns">
       <a href="{% url 'coach_dashboard:coach_dashboard' %}" class="btn-gold-cta">⚔ Soy Coach</a>
       <a href="{% url 'athlete_dashboard:athlete_dashboard' %}"  class="btn-red-cta">🛡 Soy Atleta</a>
     </div>
 
   
  </div>
</section>
